body {
    position: relative;
    padding: 64px 0 70px 0;
    color: #333333;
}
h1 {
    text-align: center;
    margin: 1rem 0;
}

.vue-notification-group {
    top: 63px;
    right: 20px;
}

.app-notifications {
    padding: 10px;
    margin: 5px;

    font-size: 1rem;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;

    .notification-title {
        font-weight: 400;
    }

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24;
    }

    &.success {
        background: #68CD86;
        border-left-color: #42A85F;
    }
}
