// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #f0f0f0;
$blue: #3490dc;
$indigo: #6574cd;
$light-indigo: lighten($indigo, 60%);
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #86af49;
$teal: #4dc0b5;
$cyan: #6cb2eb;
