<template>
    <section class="books">
        <notifications
            group="bookNotifications"
            classes="app-notifications"
        />
        <div class="container">
            <div class="books__create">
                <a
                    href="#"
                    class="btn btn-primary"
                    role="button"
                    aria-pressed="true"
                    data-toggle="modal"
                    data-target="#createBookModal"
                >Добавить книгу</a>
                <a
                    href="#"
                    class="btn btn-primary"
                    role="button"
                    aria-pressed="true"
                    data-toggle="modal"
                    data-target="#issueBookModal"
                >Выдать книгу</a>
                <a
                    href="#"
                    class="btn btn-primary"
                    role="button"
                    aria-pressed="true"
                    data-toggle="modal"
                    data-target="#takeBookModal"
                >Принять книгу</a>
            </div>
            <div class="table-responsive">
                <loading :active.sync="loader"
                         :can-cancel="false"
                         :is-full-page="loaderFullPage">
                </loading>
                <table
                    class="books__list table table-bordered table-hover"
                    v-if="books.length > 0"
                >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Жанр</th>
                            <th scope="col">Издатель</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Редактирование</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="book in books"
                            v-bind:key="book.id"
                        >
                            <th>{{ book.id }}</th>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.genre }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.books_reserve === null ? 'Доступна' : 'Зарезервирована' }}</td>
                            <td class="edit">
                                <a
                                    href="#"
                                    class="btn btn-danger btn-sm mb-2"
                                    role="button"
                                    aria-pressed="true"
                                    :data-id="book.id"
                                    v-on:click.prevent="deleteBook"
                                >Удалить книгу</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else>0 книг</div>
            </div>
        </div>

        <div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <loading :active.sync="createBookForm.loader"
                             :can-cancel="false"
                             :is-full-page="createBookForm.loaderFullPage">
                    </loading>
                    <form
                        v-on:submit.prevent="createBook"
                    >
                        <div class="modal-header">
                            <h4 class="modal-title">Новая книга</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">

                            <div
                                class="errors"
                                v-if="createBookForm.errors"
                            >
                                <div
                                    v-for="(v, k) in createBookForm.errors" :key="k"
                                >
                                    <div
                                        class="alert alert-danger alert-dismissible"
                                        role="alert"
                                        v-for="error in v" :key="error"
                                    >
                                        {{ error }}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="bookName" class="form-control-label">Название *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="bookName"
                                    v-model="createBookForm.name"
                                >
                            </div>

                            <div class="form-group">
                                <label for="bookAuthor" class="form-control-label">Автор *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="author"
                                    id="bookAuthor"
                                    v-model="createBookForm.author"
                                >
                            </div>

                            <div class="form-group">
                                <label for="bookGenre" class="form-control-label">Жанр *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="genre"
                                    id="bookGenre"
                                    v-model="createBookForm.genre"
                                >
                            </div>

                            <div class="form-group">
                                <label for="bookPublisher" class="form-control-label">Издатель *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="publisher"
                                    id="bookPublisher"
                                    v-model="createBookForm.publisher"
                                >
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Создать">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="issueBookModal" tabindex="-1" role="dialog" aria-labelledby="issueBookModal" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <loading :active.sync="issueBookForm.loader"
                             :can-cancel="false"
                             :is-full-page="issueBookForm.loaderFullPage">
                    </loading>
                    <form
                        v-on:submit.prevent="issueBook"
                    >
                        <div class="modal-header">
                            <h4 class="modal-title">Выдать книгу</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">

                            <div
                                class="errors"
                                v-if="issueBookForm.errors"
                            >
                                <div
                                    v-for="(v, k) in issueBookForm.errors" :key="k"
                                >
                                    <div
                                        class="alert alert-danger alert-dismissible"
                                        role="alert"
                                        v-for="error in v" :key="error"
                                    >
                                        {{ error }}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="userId" class="form-control-label">Пользователь *:</label>
                                <select
                                    class="form-control"
                                    name="user_id"
                                    id="userId"
                                    v-model="issueBookForm.user_id"
                                    v-on:change="getReservedBooks($event)"
                                >
                                    <option
                                        v-for="client in clients"
                                        :value="client.id"
                                    >{{ client.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="bookName" class="form-control-label">Зарезервированные книги пользователем *:</label>
                                <select
                                    class="form-control"
                                    name="bookId"
                                    id="bookId"
                                    v-if="issueBookForm.reservedBooks.length > 0"
                                    v-model="issueBookForm.book_id"
                                >
                                    <option
                                        v-for="book in issueBookForm.reservedBooks"
                                        v-bind:key="book.id"
                                        :value="book.id"
                                    >{{ book.name }}</option>
                                </select>
                                <div
                                    class="alert alert-warning"
                                    role="alert"
                                    v-else-if="issueBookForm.user_id !== ''"
                                >
                                    Пользователь не зарезервировал ни одной книги
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Выдать">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="takeBookModal" tabindex="-1" role="dialog" aria-labelledby="takeBookModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <loading :active.sync="takeBookForm.loader"
                             :can-cancel="false"
                             :is-full-page="takeBookForm.loaderFullPage">
                    </loading>
                    <form
                        v-on:submit.prevent="takeBook"
                    >
                        <div class="modal-header">
                            <h4 class="modal-title">Принять книгу</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">

                            <div
                                class="errors"
                                v-if="takeBookForm.errors"
                            >
                                <div
                                    v-for="(v, k) in takeBookForm.errors" :key="k"
                                >
                                    <div
                                        class="alert alert-danger alert-dismissible"
                                        role="alert"
                                        v-for="error in v" :key="error"
                                    >
                                        {{ error }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userId" class="form-control-label">Пользователь *:</label>
                                <select
                                    class="form-control"
                                    name="user_id"
                                    id="userId"
                                    v-model="takeBookForm.user_id"
                                    v-on:change="getIssuedBooks()"
                                >
                                    <option
                                        v-for="client in clients"
                                        :value="client.id"
                                    >{{ client.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="bookName" class="form-control-label">Выданные книги пользователю *:</label>
                                <select
                                    class="form-control"
                                    name="bookId"
                                    id="bookId"
                                    v-if="takeBookForm.issuedBooks.length > 0"
                                    v-model="takeBookForm.book_id"
                                >
                                    <option
                                        v-for="book in takeBookForm.issuedBooks"
                                        v-bind:key="book.id"
                                        :value="book.id"
                                    >{{ book.name }}</option>
                                </select>
                                <div
                                    class="alert alert-warning"
                                    role="alert"
                                    v-else-if="takeBookForm.user_id !== ''"
                                >
                                    Пользователь не имеет ни одной книги
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Принять">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import axios from 'axios';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Notifications from 'vue-notification';

    Vue.use(Notifications);

    export default {
        props: {
            initialBooks: Array,
            clients: Array
        },
        data: function() {
            return {
                books: this.initialBooks,

                createBookForm: {
                    name: '',
                    author: '',
                    genre: '',
                    publisher: '',
                    errors: '',

                    loader: false,
                    loaderFullPage: false
                },
                issueBookForm: {
                    user_id: '',
                    book_id: '',
                    reservedBooks: '',
                    errors: '',

                    loader: false,
                    loaderFullPage: false
                },
                takeBookForm: {
                    user_id: '',
                    book_id: '',
                    issuedBooks: '',
                    errors: '',

                    loader: false,
                    loaderFullPage: false
                },

                loader: false,
                loaderFullPage: false
            }
        },
        components: {
            Loading
        },
        methods: {

            createBook: function () {
                this.createBookForm.loader = true;
                axios
                    .post('/admin/books/store/', {
                        name: this.createBookForm.name,
                        author: this.createBookForm.author,
                        genre: this.createBookForm.genre,
                        publisher: this.createBookForm.publisher,
                    })
                    .then((response) => {
                        $('#createBookModal').modal('hide');
                        this.createBookForm.loader = false;

                        if (response.data) {
                            this.books.push(response.data);

                            this.createBookForm.name = '';
                            this.createBookForm.author = '';
                            this.createBookForm.genre = '';
                            this.createBookForm.publisher = '';

                            this.$notify({
                                group: 'bookNotifications',
                                type: 'success',
                                title: 'Книга успешно добавлена',
                            });
                        } else {
                            this.$notify({
                                group: 'bookNotifications',
                                type: 'warn',
                                title: 'Ошибка при добавлении книги',
                            });
                        }
                    })
                    .catch((error) => {
                        this.createBookForm.errors = error.response.data.errors;
                        this.createBookForm.loader = false;
                    });
            },

            deleteBook: function (event) {
                let bookId = parseInt(event.currentTarget.dataset.id);
                this.loader = true;
                axios
                    .post("/admin/books/delete/", {
                        id: bookId,
                    })
                    .then((response) => {
                        let index = this.books.findIndex(book => book.id === bookId);
                        this.books.splice(index, 1);
                        this.loader = false;
                        this.$notify({
                            group: 'bookNotifications',
                            type: 'success',
                            title: 'Книга успешно удалена',
                        });
                    })
                    .catch((error) => {
                        this.loader = false;
                        this.$notify({
                            group: 'bookNotifications',
                            type: 'warn',
                            title: error.response.data.message,
                        });
                    });
            },

            issueBook: function () {
                this.issueBookForm.loader = true;
                axios
                    .post('/admin/books/issue_book/', {
                        user_id: this.issueBookForm.user_id,
                        book_id: this.issueBookForm.book_id,
                    })
                    .then((response) => {
                        $('#issueBookModal').modal('hide');
                        this.issueBookForm.user_id = '';
                        this.issueBookForm.book_id = '';
                        this.issueBookForm.reservedBooks = '';
                        this.issueBookForm.loader = false;
                        this.$notify({
                            group: 'bookNotifications',
                            type: 'success',
                            title: 'Книга успешно выдана',
                        });
                    })
                    .catch((error) => {
                        this.issueBookForm.errors = error.response.data.errors;
                        this.issueBookForm.loader = false;
                    });
            },

            takeBook: function () {
                this.takeBookForm.loader = true;
                axios
                    .post('/admin/books/take_issued_book/', {
                        user_id: this.takeBookForm.user_id,
                        book_id: this.takeBookForm.book_id,
                    })
                    .then((response) => {
                        $('#takeBookModal').modal('hide');
                        this.takeBookForm.user_id = '';
                        this.takeBookForm.book_id = '';
                        this.takeBookForm.issuedBooks = '';
                        this.takeBookForm.loader = false;
                        this.$notify({
                            group: 'bookNotifications',
                            type: 'success',
                            title: 'Книга успешно принята',
                        });
                    })
                    .catch((error) => {
                        this.TakeBookForm.errors = error.response.data.errors;
                        this.takeBookForm.loader = false;
                    });
            },

            getReservedBooks: function (event) {
                this.issueBookForm.loader = true;
                axios
                    .post('/admin/users/reserved_books/', {
                        user_id: this.issueBookForm.user_id
                    })
                    .then((response) => {
                        this.issueBookForm.reservedBooks = response.data;
                        this.issueBookForm.loader = false;
                    })
                    .catch((error) => {
                        this.issueBookForm.errors = error.response.data.errors;
                        this.issueBookForm.loader = false;
                    });
            },

            getIssuedBooks: function (event) {
                this.takeBookForm.loader = true;
                axios
                    .post('/admin/users/issued_books/', {
                        user_id: this.takeBookForm.user_id
                    })
                    .then((response) => {
                        this.takeBookForm.issuedBooks = response.data;
                        this.takeBookForm.loader = false;
                    })
                    .catch((error) => {
                        this.takeBookForm.errors = error.response.data.errors;
                        this.takeBookForm.loader = false
                    });
            },
        },
    };
</script>

<style>
    .books {
        margin: 30px 0;
    }

    .books__create {
        margin: 10px 0;
    }

    .books__list {
        margin: 10px 0;
    }
</style>
