<template>
    <section class="users">
        <notifications
            group="userNotifications"
            classes="app-notifications"
        />
        <div class="container">
            <div class="users__create">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Добавить пользователя</button>
            </div>
            <div class="table-responsive">
                <loading :active.sync="loader"
                         :can-cancel="false"
                         :is-full-page="loaderFullPage">
                </loading>
                <table
                    class="users__list table table-bordered table-hover"
                    v-if="users.length > 0"
                >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Почта</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Редактирование</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="user in users"
                            v-bind:key="user.id"
                        >
                            <th>{{ user.id }}</th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role.name }}</td>
                            <td class="edit">
                                <a
                                    href="#"
                                    class="btn btn-primary btn-sm mb-2"
                                    role="button"
                                    aria-pressed="true"
                                    data-toggle="modal"
                                    :data-id="user.id"
                                    data-target="#changeUserPasswordModal"
                                    v-on:click="changePasswordModal($event)"
                                >Изменить пароль</a>
                                <a href="#"
                                   class="btn btn-danger btn-sm mb-2"
                                   role="button"
                                   aria-pressed="true"
                                   :data-id="user.id"
                                   v-on:click.prevent="deleteUser($event)"
                                >Удалить пользователя</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else>Список пуст</div>
            </div>
        </div>

        <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <loading :active.sync="createUserForm.loader"
                             :can-cancel="false"
                             :is-full-page="createUserForm.loaderFullPage">
                    </loading>
                    <form
                        v-on:submit.prevent="createUser"
                    >
                        <div class="modal-header">
                            <h4 class="modal-title">Новый пользователь</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">

                            <div
                                class="errors"
                                v-if="createUserForm.errors"
                            >
                                <div
                                    v-for="(v, k) in createUserForm.errors" :key="k"
                                >
                                    <div
                                        class="alert alert-danger alert-dismissible"
                                        role="alert"
                                        v-for="error in v" :key="error"
                                    >
                                        {{ error }}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="userName" class="form-control-label">Имя *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    id="userName"
                                    v-model="createUserForm.name"
                                >
                            </div>

                            <div class="form-group">
                                <label for="userSurname" class="form-control-label">Фамилия *:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="surname"
                                    id="userSurname"
                                    v-model="createUserForm.surname"
                                >
                            </div>

                            <div class="form-group">
                                <label for="userEmail" class="form-control-label">Почта *:</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    id="userEmail"
                                    v-model="createUserForm.email"
                                >
                            </div>

                            <div class="form-group">
                                <label for="userRole" class="form-control-label">Роль *:</label>
                                <select
                                    class="form-control"
                                    name="role"
                                    id="userRole"
                                    v-model="createUserForm.role_id"
                                >
                                    <option
                                        v-for="role in roles"
                                        :value="role.id"
                                    >{{ role.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="userPassword" class="form-control-label">Пароль *:</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    id="userPassword"
                                    v-model="createUserForm.password"
                                >
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Создать">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="changeUserPasswordModal" tabindex="-1" role="dialog" aria-labelledby="changeUserPasswordModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <loading :active.sync="changeUserPasswordForm.loader"
                             :can-cancel="false"
                             :is-full-page="changeUserPasswordForm.loaderFullPage">
                    </loading>
                    <form
                        v-on:submit.prevent="changeUserPassword"
                    >

                        <div class="modal-header">
                            <h4 class="modal-title">Смена пароля</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">

                            <input type="hidden" name="user_id" id="userId" value="">

                            <div class="form-group">
                                <label for="password" class="form-control-label">Новый Пароль *:</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    id="password"
                                    v-model="changeUserPasswordForm.new_password"
                                >
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Изменить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Notifications from 'vue-notification';

    Vue.use(Notifications);

    export default {
        props: {
            initialUsers: Array,
            roles: Array
        },
        data: function() {
            return {
                users: this.initialUsers,

                createUserForm: {
                    name: '',
                    surname: '',
                    email: '',
                    password: '',
                    role_id: '',
                    errors: '',

                    loader: false,
                    loaderFullPage: false
                },

                changeUserPasswordForm: {
                    new_password: '',

                    loader: false,
                    loaderFullPage: false
                },

                loader: false,
                loaderFullPage: false
            }
        },
        components: {
            Loading
        },
        methods: {

            createUser: function () {
                this.createUserForm.loader = true;
                axios
                    .post("/admin/users/store/", {
                        name: this.createUserForm.name,
                        surname: this.createUserForm.surname,
                        email: this.createUserForm.email,
                        password: this.createUserForm.password,
                        role_id: this.createUserForm.role_id
                    })
                    .then((response) => {
                        this.createUserForm.loader = false;
                        $('#createUserModal').modal('hide');

                        if (response.data) {
                            this.users.push(response.data);

                            this.createUserForm.name = '';
                            this.createUserForm.surname = '';
                            this.createUserForm.email = '';
                            this.createUserForm.password = '';
                            this.createUserForm.role_id = '';

                            this.$notify({
                                group: 'userNotifications',
                                type: 'success',
                                title: 'Пользователь успешно создан',
                            });
                        } else {
                            this.$notify({
                                group: 'userNotifications',
                                type: 'warn',
                                title: 'Ошибка добавления пользователя',
                            });
                        }
                    })
                    .catch((error) => {
                        this.createUserForm.errors = error.response.data.errors;
                        this.createUserForm.loader = false;
                    });
            },

            deleteUser: function (event) {
                this.loader = true;
                let userId = parseInt(event.currentTarget.dataset.id);
                axios
                    .post("/admin/users/delete/", {
                        id: userId,
                    })
                    .then((response) => {
                        let index = this.users.findIndex(user => user.id === userId);
                        this.users.splice(index, 1);
                        this.loader = false;
                        this.$notify({
                            group: 'userNotifications',
                            type: 'success',
                            title: 'Пользователь успешно удалён',
                        });
                    })
                    .catch((error) => {
                        this.loader = false;
                        this.$notify({
                            group: 'userNotifications',
                            type: 'warn',
                            title: 'Невозможно удалить пользователя',
                        });
                    });
            },

            changePasswordModal: function (event) {
                let $modal = $('#changeUserPasswordModal');
                let user_id = parseInt(event.currentTarget.dataset.id);
                $modal.find('#userId').attr('value', user_id);
                $modal.modal('show');
            },

            changeUserPassword: function (event) {
                let $modal = $('#changeUserPasswordModal');
                let user_id = $modal.find('#userId').attr('value');

                this.changeUserPasswordForm.loader = true;

                axios
                    .post("/admin/users/change_password/", {
                        id: user_id,
                        password: this.changeUserPasswordForm.new_password,
                    })
                    .then((response) => {
                        $modal.modal('hide');
                        this.changeUserPasswordForm.new_password = '';
                        if (response.data === true) {
                            alert('Пароль изменён');
                        } else {
                            alert('Пароль не изменён');
                        }
                        this.changeUserPasswordForm.loader = false;
                        this.$notify({
                            group: 'userNotifications',
                            type: 'success',
                            title: 'Пароль успешно измменён',
                        });
                    })
                    .catch((error) => {
                        this.changeUserPasswordForm.loader = false;
                    });
            },

        },
    };
</script>

<style>
    .users {
        margin: 30px 0;
    }
    .users__create {
        margin: 10px 0;
    }
    .users__list {
        margin: 10px 0;
    }
</style>
