<template>
    <section class="library">
        <notifications
            group="libraryNotifications"
            classes="app-notifications"
        />
        <div class="library__search">
            <div class="container">
                <div class="col-md-12">
                    <div class="library__search-bar">
                        <input
                            class="library__search-input"
                            type="text"
                            name="search"
                            placeholder="Поиск книг... (По названию, автору, жанру, издателю)"
                            v-model="search"
                            v-on:input="checkSearchModel"
                        >
                        <a
                            href="#"
                            class="library__search-icon"
                            v-on:click.prevent="searchBooks"
                        ><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="library__list">
            <div class="container">
                <div class="col-md-12">
                    <loading :active.sync="loader"
                             :can-cancel="false"
                             :is-full-page="loaderFullPage">
                    </loading>
                    <div
                        class="library__list-wrapper"
                        v-if="books.length > 0"
                    >
                        <h2>Книги:</h2>
                        <div
                            class="library__item"
                            v-for="book in books"
                            v-bind:key="book.id"
                        >
                            <div class="library__item-info">
                                <div class="library__item-info-top">
                                    <span class="library__item-title">{{ book.name }}</span>
                                </div>
                                <div class="library__item-info-bottom">
                                    <span class="library__item-author">
                                        <strong>Автор:</strong>
                                       {{ book.author }}
                                    </span>
                                        <span class="library__item-genre">
                                        <strong>Жанр:</strong>
                                        {{ book.genre }}
                                    </span>
                                        <span class="library__item-publisher">
                                        <strong>Издатель:</strong>
                                        {{ book.publisher }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="library__item-actions"
                                :class="book.books_reserve !== null ? 'library__item-actions--reserved' : ''">
                                <a
                                    href="#"
                                    class="btn reserve-btn"
                                    role="button"
                                    aria-pressed="true"
                                    :data-book-id="book.id"
                                    v-if="book.books_reserve === null"
                                    v-on:click.prevent="reserveBook"
                                >Забронировать книгу</a>
                                <div
                                    class="reserve-btn library__item-status"
                                    v-else
                                >
                                    Недоступна до <small>{{ book.books_reserve.reserved_to }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="library__list-wrapper"
                        v-else
                    >
                        <h2>Нет результатов</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';
    import Notifications from 'vue-notification';

    Vue.use(Notifications);

    export default {
        props: {
            initialBooks: Array,
        },
        data: function() {
            return {
                books: this.initialBooks,
                search: '',

                loader: false,
                loaderFullPage: false
            }
        },
        components: {
            Loading
        },
        methods: {
            checkSearchModel: function () {
                if (this.search === '') {
                    this.loader = true;
                    axios
                        .post('/library/', {
                            search: this.search
                        })
                        .then((response) => {
                            this.books = response.data;
                            this.loader = false;
                        })
                        .catch((error) => {
                            this.loader = false;
                        });
                }
            },

            searchBooks: function () {
                this.loader = true;
                axios
                    .post('/library/search/', {
                        search: this.search
                    })
                    .then((response) => {
                        this.books = response.data;
                        this.loader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                    });
            },

            reserveBook: function (event) {
                let bookId = parseInt(event.currentTarget.dataset.bookId);
                this.loader = true;
                axios
                    .post('/library/reserve_book/', {
                        book_id: bookId
                    })
                    .then((response) => {
                        if (response.data.booksReserve) {
                            let index = this.books.findIndex(book => book.id === bookId);
                            this.books[index].books_reserve = response.data.booksReserve;
                            this.$notify({
                                group: 'libraryNotifications',
                                type: 'success',
                                title: 'Книга успешно забронирована',
                            });
                        } else {
                            this.$notify({
                                group: 'libraryNotifications',
                                type: 'warn',
                                title: 'Книга не может быть забронирована',
                            });
                        }
                        this.loader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                        this.$notify({
                            group: 'libraryNotifications',
                            type: 'warn',
                            title: 'Авторизируйтесь на сервисе для резервирования книг',
                        });
                    });
            }
        }
    }
</script>

<style>
    .library__search {
        padding: 50px 0;
        background-color: #6574cd;
    }
    .library__search-bar {
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        /*background-color: #353b48;*/
        background-color: #f8fafc;
        border-radius: 30px;
        padding: 10px;
    }
    .library__search-input{
        padding: 0 20px;
        font-size: 1.5rem;
        color: #353b48;
        border: 0;
        outline: 0;
        background: none;
        width: 100%;
        caret-color: #6574cd;
        line-height: 40px;
    }
    .library__search-bar:hover > .library__search-icon{
        background: #353b48;
        color: #ffffff;
    }
    .library__search-icon{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #353b48;
        text-decoration:none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    .library__list-wrapper {
        margin: 10px 0;
    }
    .library__item {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
        border: 1px solid #6574cd;
    }
    .library__item-info {
        flex: 1 1 70%;
        padding: 10px 20px;
        border-right: none;
    }
    .library__item-info-top {
        display: flex;
    }

    .library__item-title {
        font-size: 1.4rem;
    }

    .library__item-info-bottom {
        display: flex;
    }

    .library__item-info-bottom > span {
        display: inline-block;
        font-size: 1rem;
        padding: 10px 4px;
    }

    .library__item-actions {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        min-width: 300px;
        align-items: center;
        background-color: #6574cd85;
        border-left: none;
    }

    .library__item-actions .reserve-btn {
        height: auto;
        font-size: 1.3rem;
        width: 100%;
        padding: 32px 20px;
        text-align: center;
    }

    .library__item-actions .library__item-status {
        /*font-size: 1.1rem;*/
    }

    .library__item-actions.library__item-actions--reserved {
        background-color: #6574cd2b;
    }
</style>
